{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Mes Livres{% endblock title %}
{% block content %}

<h1>Liste des livres</h1>

<table class="table">
   <thead>
    <tr>
    <th>Titre</th>
    <th>Auteurs</th>
    <th>Éditeur</th>
    <th>Année</th>
    </tr>
  </thead>
  {% for book in book_list %}
  <tr>
    <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
    <td>{{book.authors}}</td>
    <td>{{book.publisher}}</td>
    <td>{{book.year}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock content %}
