{% extends "base.html" %}

{% block title %}
Libraro | Books for Trade
{% endblock %}

{% block content %}
<h1>Libraro | Books for Trade</h1>
<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Books for trade</li>
    </ol>
</nav>

<br>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope='col'>Last updated</th>
            <th scope='col'>User</th>
            <th scope='col'>City</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books_for_trade %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            {% if book[0].cover %}
            <td><img src="{{book[0].cover}}" /></td>
            {% else %}
            <td><img src="/static/img/no_cover.png" /></td>
            {% endif %}
            <td>{{ book[0].title}}</td>
            <td>{{ book[0].authors }}</td>
            <td>{{ moment(book[0].last_updated).fromNow(refresh=True) }}</td>
            <td><a href="{{url_for('main.user_page', id=book[0].user_id)}}">{{ book.username }}</a></td>
            <td><a href="{{url_for('main.for_trade_by_city', city=book.city)}}">{{ book.city }}</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
<br>

{% endblock %}