{% extends "base.html" %}

{% block title %}
Libraro | index
{% endblock %}

{% block content %}
<h1>Hello,
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% else %}
    Stranger
    {% endif %}!
</h1>
<br><br>
{% if books %}
<h2>Your 5 latest additions</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope='col'>Read</th>
            <th scope="col">Last updated</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ book.title}}</td>
            <td><a href="{{url_for('main.my_books_by_author', authors=book.authors)}}">{{book.authors}}</a></td>
            {% if book.read %}
            <td>💪</td>
            {% else %}
            <td>😣</td>
            {% endif %}
            <td>{{ moment(book.last_updated).fromNow(refresh=True) }}</td>
            <td><a href="{{url_for('main.edit_book', id=book.id)}}">Edit</a></td>
            <td><a class='danger' href="{{url_for('main.delete_book', id=book.id)}}">Remove</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endif %}
{% endblock %}