{% extends "base.html" %}

{% block title %}
Libraro | index
{% endblock %}

{% block content %}
<h1>Hello,
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% else %}
    Stranger
    {% endif %}!
</h1>

<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Welcome to Libraro!</h2>
        <p class="lead">This website allows you to create and update your collection of books by inputing their ISBN
            code,
            that you can find easily on the back cover. You can review your books, mark them as read, and even mark them
            as for trade.
            In the "Books for trade" page, you can see which books are offered by various users and filter those by
            city.
        </p>
    </div>
</div>

{% endblock %}