{% extends "base.html" %}

{% block title %}
Libraro | My Authors
{% endblock %}

{% block content %}
<h1>{{ current_user.username }}’s authors</h1>
<br><br>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author(s)</th>
            <th scope='col'>Books</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="{{url_for('main.my_books_by_author', authors=author[0])}}">{{author[0]}}</a></td>
            <td>{{ author[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}